
    <div class="divbooks">
    <img src= <%=book.image_url %> alt="">
     <p class="btitle"> <%= book.title %></p>
     <p class= 'bauthor'> <%= book.author %> </p>
      <p class = 'description' > <%= book.description%></p> 
      <p><%= book.isbn %></p>  

      <p>Bookshelf: <%= book.categories %></p>  

    </div>


