<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">

    <title>Document</title>
</head>
<body>
    <header> 
        <header> 
            <%- include('../../layout/header')  %> 
            <div><p>Search Result</p></div>
        </header>

    </header>
    <main class="books"> 
        <% booksArr.forEach((book) => { %>
        <div class="divbooks">
        <img src= <%=book.img %> alt="">
         <p class="btitle"> <%= book.title %></p>
         <p class= 'bauthor'> <%= book.authors %> </p>
         <p> <%= book.description %> </p>
         <form action="/books" method="POST"> 
            <input type="text" name="image_url" id="image_url" value="<%=book.img %>"  hidden>
             <input type="text" name="title" id= "title"  value=" <%= book.title %>"  hidden> 
             <input type="text" name="author" id="author"  value=" <%= book.authors %>"  hidden>
             <input type="text" name="description" id="description" value=" <%= book.description%>" hidden>
             <input type="text" name="isbn" id="isbn" value=" <%= book.isbn %>"  hidden>
             <input type="text" name="categories" id="categories"value=" <%= book.categories%>"  hidden>
            
             <button>Select This Book</button>
          
         </form>

        

        
        </div>
    <% }) %>

    </main>
    <footer>

    </footer>
    
</body>
</html>