<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head')  %> 
  
    <title>Document</title>
</head>
<body>

    <header> 
        <%- include('../layout/header')  %> 
        <div><p><%=booksArr.length %> Saved Books</p></div>
    </header>

    <main class="books"> 
        <% booksArr.forEach((book) => { %>
        <div class="divbooks">
        <img src= <%=book.image_url %> alt="">
         <p class="btitle"> <%= book.title %></p>
         <p class= 'bauthor'> <%= book.author %> </p>

         <a href="/books/<%=book.id %>">View Details</a>

        
        </div>
    <% }) %>

    </main>
    
 

<footer></footer>
</body>
</html>